.sonarqube
src/Core/obj
src/Core/bin
src/Infrastructure/obj
src/Infrastructure/bin
src/Web/obj
src/Web/bin
.vscode*
/.vs
/.config
/appsettings.json
/Properties/*
!/Properties/launchSettings.json
/wwwroot/*

/runtimes